body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem auto;
}

h1
{
    font-size: 52px;
    font-weight: bolder;
    color: rgb(0, 119, 255);
}

#cabecera
{
    height: 40px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 64, 64);
    color: white;
    margin: auto 18rem;
}

.caja
{
    margin: 20px;
}

#img
{
    justify-content: center;
    display: flex;
}
